$cl-success: #28a745;
$cl-primary: #007bff;
$cl-white: #fff;
$cl-warning: #ffc107;
$cl-danger: #dc3545;
$cl-dark: #343a40;
$cl-secondary: #6c757d;
$cl-info: #17a2b8;
$cl-cyan: #2fb7c8;

$shadow-black: 2px 1px 3px rgba(0, 0, 0, .5);